.landing-page-main{
  background: lightgrey;
  color: white;
}

#title{
  width: inherit;
}

.card{
  box-shadow: 5px 5px 10px 10px darkgrey;
  width: 100vw;
  height: 100vh;
  border: 0;
}

.card-header{
  background: #007bff;
  color: white;
  border-radius: inherit;
}

input {
  border: 1px solid;
  padding-left: 5px;
}

input:focus{
  padding: 5px;
  box-shadow: 0px 10px 3px 3px lightgrey;
}

div.add-module{
  text-align: center;
  border:1px solid black;
  width:inherit;
}

img.add-image{
  max-width: 75%;
}

.icon{
  width: 50%;
}
